body {
    background-color: white;
    font-family: sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    background-image: url("interlaced.png");
}

.sched-header {
  /* box-sizing: border-box; */
  background-color: black;
  width: 100%;
  top: 0;
  z-index: 999;
  position: static;
  padding: 0;
  overflow: hidden;
}

/* .log-in-info {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top:22px;
  right: 10px;
  letter-spacing: 2px;
} */

.errorMessage {
  color: red;
}

.main-content {
  padding: 10px 18px 10px 18px;
}

textarea, input {
  font-family: sans-serif;
  font-size: 18px;
  padding: 8px 10px;
}

button, input[type=submit] {
  background-color: #12ABDC;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
button:hover, input[type=submit]:hover {
  background-color: #089CCD;
}

/* Make it so links don't change color when visited */
a {
  color: #12ABDC;
}

/* This is for items that are only present for screen readers. */
.sr-only {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  font-size: 25px;
  letter-spacing: 2px;
}

/* Makes the navigation header horizontal */
li {
  float: left;
}

/* Make the links in the navigation header look like boxes */
li a, .user-dropdown-button {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  display: inline-block;
  text-align: center;
  background-color: black;
}

/*
.user-dropdown-button {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  display: block;
  text-align: center;
  background-color: black;
} */

li a:hover, .user-dropdown:hover, .user-dropdown-button:hover {
  background-color: #232B2B;
}

/* Makes the user drop-down menu appear relative to the user icon */
li.user-dropdown {
  position: relative;
  display: inline-block;
  float: left;
}

.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.user-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.user-dropdown-content a:hover {
  background-color: #ddd;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
}

/* delete */
.show {
  display: block;
}
