body {
    background-color: white;
    font-family: sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background-image: url("interlaced.png");
}

.sched-header {
  box-sizing: border-box;
  background-color: black;
  width: 100%;
  top: 0;
  z-index: 999;
  position: static;
  padding: 0;
}

.project-title {
  color: #ffffff;
  font-size: 60px;
  margin: 0;
  padding: 10px 18px 10px 18px;
  letter-spacing: 2px;
}

.log-in-info {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top:22px;
  right: 10px;
  letter-spacing: 2px;
}

.errorMessage {
  color: red;
}

.main-content {
  padding: 10px 18px 10px 18px;
}

textarea, input {
  font-family: sans-serif;
  font-size: 15px;
}

#notLoggedInDiv, #loggedInDiv {
  display: none;
}
